<%- include ("layouts/header") -%>

<%- include ("layouts/log_out") -%>

<div class="container user-page">
    <h1><b>Hello User</b></h1>

    <div class="main-btn">
        <a href="/get"><button type="button">Get Password</button></a>
    </div>
    <div class="main-btn">
        <a href="/generate"><button type="button">Generate Password</button></a>
    </div>
    <div class="main-btn">
        <a href="/save"><button type="button">Save New Password</button></a>
    </div>
</div>

</body>
</html>